**.DS_Store
#**node_modules/
!node_modules/fis3-parser-local-tsc/index.js

**output/
**.idea/

#源码由ts维护
**.js.map
**.js
#下列源码使用js维护
!sample/main.js
!sample/require.js
!sample/bridge.js
!build/fis-conf.js
